.project-card {
    display: flex;
    padding: 10px;
    margin: 10px;
    border: 1px solid #eee;
    border-radius: 10px;
    width: calc(50% - 20px);
    text-decoration: none;
    color: #333;
    transition: box-shadow 0.2s ease, transform 0.3s ease, color 0.1s ease,
}

.project-card:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    transform: translateY(-5px);
    color: #000;
}